body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #fffb62, #ffd049, #ffa449, #ff7758, #ff4c6d, #f43979, #e42986, #d11f92, #be2791, #ab2c8f, #982f8b, #863186);
  min-height: 100vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
